If you're just here to get my socials, here ya go: 
[GitHub](https://github.com/theo-steiner), [twitter](https://twitter.com/_TheoSteiner), [linkedin](https://www.linkedin.com/in/theodor-steiner-b3aa8113b?trk=contact-info)

## Hey there! 
My name is Theo Steiner and I'm a Software Engineer working for `LINE Corporation` in beautiful Tokyo, Japan.<br/>
When it comes to coding, I'm a big proponent of TDD: *tummy-driven-development*.
`Write code 💻, eat sushi 🍣, sleep 🌒, repeat 🤖.` 
<img height="1280" width="1280" src="/img/theo_steiner.webp" alt="Theo Steiner smiling at the camera"/>

My native language is German. However, I also speak Japanese and English fluently and have basic knowledge of Spanish and French. `🥖 This one is baguette, and 🥐 this one is crowasson or something.`

I hold a Master's degree from `上智大学 (Sophia University in Tokyo) 👨‍🎓,` where I had the awesome opportunity to develop a web platform for conducting spatial literary analysis using Geographic Information Systems.<br/>
For my Bachelor's I majored in `Japanese Studies 🗾`, while also enrolling in classes on database tech, natural language processing and other computer science related shenanigans.<br/>
I am lucky to have a very exciting dayjob, where I get to develop b2b2c solutions for one of the world's leading messaging platforms. `Massive scale comes with all sorts of interesting challenges 📱.`


Since sitting in front of a computer all week is not bad enough for my posture already 😭, `I make a habit of also programming for fun on the weekends.`

Most of my time I waste on fine-tuning my neovim config or hanging out in the svelte discord, but every once in a while I do something productive: <br/>
I am proud to have made (tiny, tiny) coding `contributions to fantastic Open Source projects such as Node.js or Svelte.js. ♥️`<br/>
Especially the community aspect of Open Source Software is dear to my heart,
and I am beyond honored to be among the inaugural Svelte Ambassadors for my commitment to this community. <br/>
I sometimes organize meetups and events to foster and grow the still small, but impactful [Svelte.js community in Japan](https://svelte.jp/) 🇯🇵. If you'd like to join us some day, make sure to follow me on social media.<br/>
